# M02 Notes

# Review Assignment

See [M01 Notebook](http://localhost:8888/lab/tree/Dropbox/Courses/DS/DS5100/DS5100-2023-08-O/repo/notebooks/M01_GettingStarted/M01_ImportHello.ipynb) for results.

# Completion Rates

In [85]:
import pandas as pd
import numpy as np

In [86]:
df = pd.DataFrame(columns=['key','val']).set_index('key')

In [87]:
df.loc['n_students'] = 47
df.loc['n_forks'] = 42
df.loc['n_pull_requests'] = 34
df.loc['n_hello_texts'] =  34
df.loc['n_correct_texts'] = 33

In [88]:
df['completion'] = np.round(df['val'] / df.loc['n_students', 'val'], 2)

In [89]:
df['missing'] = df.loc['n_students', 'val']- df['val']

In [90]:
df

                 val  completion  missing
key
n_students        47        1.00        0
n_forks           42        0.89        5
n_pull_requests   34        0.72       13
n_hello_texts     34        0.72       13
n_correct_texts   33        0.70       14

In [7]:
 df.T.n_students

val           47.0
completion     1.0
missing        0.0
Name: n_students, dtype: float64

# Concepts

## Data / Code

Data vs algorithm (code). How are they related?

## Data types and structures

Sata types and data structures. What are the differences?

## Strings

Strings are data types, but internally they are like data structures.

Internally, a string is a sequence of Unicode code points.

- A code point is a numerical value that maps to a specific character.
- Unicode is an international standard of code points that map onto the alphabets of many languages.

Each character is an element in an immutable list-like structure.

You can access it's elements as if it were a tuple of characters:

In [9]:
my_string = "This is a string"
print(my_string[0])
print(my_string[-1])
print(my_string[1:4])

T
g
his

But also like a tuple, you can't change its values:

In [97]:
my_string[2] = 'a'
my_string[3] = 't'

TypeError: 'str' object does not support item assignment

Note that some languages, like Java, have a data type for individual characters, e.g. `A`.

## Mutability

A mutable object is one whose internal value can be changed. 

This property applies to data structures.

Tuples are immutable, lists are not.

**Demonstration**

Here, we mutate a list by appending a value to it.

In [98]:
a = [1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [99]:
a[0] = 5
print(a)

[5, 2, 3, 4, 5, 10]

If we try the same things with a tuple, we get an error.

In [20]:
b = (1,2,3,4,5)
b.append(10)
print(b)

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
b[0] = 5
print(b)

TypeError: 'tuple' object does not support item assignment

This, on the other hand, is not mutation:

In [11]:
a = [1,2,3,4,5,10] # A list
b = (1,2,3,4,5,10) # A tuple
print(a)
print(b)

[1, 2, 3, 4, 5, 10]
(1, 2, 3, 4, 5, 10)

We are just **re-assigning** a new value to the variable. 

The new value just **replaces** the old one.

In mutation, the same data structure remains in place and its contents are changed.

Note, however, that this works with tuples:

In [12]:
b += (11,)
print(b)

(1, 2, 3, 4, 5, 10, 11)

It looks like mutation, but it's not.

This is because we are replacing `b` with a new tuple value.

> Notice that we write a single valued tuple with a comma. Why?

**Behavior**

Relatedly, mutable and immutable objects behave differently.

For example, when you assign a variable to another variable of a \
mutable datatype, any changes to the data are reflected by both variables. 

The new variable is just an alias for the old variable. 

This is only true for mutable datatypes.

Lets explore how `+` operator behaves differently.

**List t1**

We initialize a list and make a copy of it.

Note that they two variables share the same `id`.

In [201]:
a0 = [1,2,3,4,5]
a1 = a0 # Make a copy of a list
print('t1', 'a0', a0, id(a0))
print('t1', 'a1', a1, id(a1))
print(id(a0) == id(a1))

t1 a0 [1, 2, 3, 4, 5] 4624009728
t1 a1 [1, 2, 3, 4, 5] 4624009728
True

**List t2**

Now we add to the copy and note the effects on the original. 

The original value is also changed.

In [202]:
a1 += [12] # Extend the copy
print('t2', 'a0', a0, id(a0)) 
print('t2', 'a1', a1, id(a1))
print(id(a0) == id(a1))

t2 a0 [1, 2, 3, 4, 5, 12] 4624009728
t2 a1 [1, 2, 3, 4, 5, 12] 4624009728
True

**List t3**

Note, however, that if we _don't_ use the unary operator,\
the `a1` becomes a different object! This is weird and \
does not seem to be noticed by the [Python people](https://book.pythontips.com/en/latest/mutation.html).

In [203]:
a1 = a1 + [12] # Extend the copy
print('t3', 'a0', a0, id(a0))
print('t3', 'a1', a1, id(a1))
print(id(a0) == id(a1))

t3 a0 [1, 2, 3, 4, 5, 12] 4624009728
t3 a1 [1, 2, 3, 4, 5, 12, 12] 4623958848
False

**Tuple t1**

Let's try this with a tuple.

We see that both variables have the same `id`.

In [208]:
b0 = (1,2,3,4,5)
b1 = b0 # Make a copy of a tuple
print('t1', 'b0', b0, id(b0))
print('t1', 'b1', b1, id(b1))
print(id(b0) == id(b1))

t1 b0 (1, 2, 3, 4, 5) 4623945136
t1 b1 (1, 2, 3, 4, 5) 4623945136
True

**Tuple t2**

However, if extend the tuple, `b1` becomes a new object.

Note how this differs from the list behavior.

In [209]:
b1 += (12,) # Extend the copy
print('t2', 'b0', b0, id(b0))
print('t2', 'b1', b1, id(b1))
print(id(b0) == id(b1))

t2 b0 (1, 2, 3, 4, 5) 4623945136
t2 b1 (1, 2, 3, 4, 5, 12) 4623803552
False

**Tuple t3**

If we don't use the unary operator, the same thing happens again.

`b1` becomes a new object because it has been reassigned.

In [210]:
b1 = b1 + (12,) # Extend the copy
print('t3', 'b0', b0, id(b0))
print('t3', 'b1', b1, id(b1))
print(id(b0) == id(b1))

t3 b0 (1, 2, 3, 4, 5) 4623945136
t3 b1 (1, 2, 3, 4, 5, 12, 12) 4623802688
False

Another example:

In [199]:
foo = ['hi']
print(foo)

bar = foo
print(id(foo), id(bar))

bar += ['bye']
# bar = bar + ['bye']
print(foo)
print(id(foo), id(bar))

['hi']
4624052416 4624052416
['hi', 'bye']
4624052416 4624052416

In [200]:
foo1 = ('hi')
print(foo1)

bar1 = foo1
print(id(foo1), id(bar1))

bar1 += ('bye')
print(foo1)
print(id(foo1), id(bar1))

hi
4564923632 4564923632
hi
4564923632 4611170544

## Comparing floats

Let's do an experiment:

In [1]:
f1 = 0.1 + 0.2
f2 = 0.3

In [2]:
f1 == f2

False

In the above case, `f1` and `f2` don't hold precisely the same value because of the limitations of representing base-10 fractions in base-2 (binary).

Inspecting their values, we find minor differences in the lower significant digits:

In [3]:
f1, f2

(0.30000000000000004, 0.3)

Instead of using `==`, try `math.isclose()`:

In [6]:
import math
math.isclose(f1, f2)

True

Note that sometimes floating point comparisons _do_ work:

In [7]:
f3 = 4.0
f4 = 3.5 + .5

In [8]:
f3 == f4

True

See the [Wikipedia](https://en.wikipedia.org/wiki/Floating-point_arithmetic#:~:text=In%20computing%2C%20floating%2Dpoint%20arithmetic,are%20called%20floating%2Dpoint%20numbers.) article on floating point arithmetic to learn more about how this arises. 

It will provide you with insight into how computers actually work as machines that process numbers.

## The word "scalar"

Sometimes you will see the word "scalar" in the literature to refer to certain kinds of values.

Scalars are **single values** as opposed to structures or collections of values. 

> Strings as data types sometimes behave as scalars and sometimes as sequential structures.

# Summary

In [100]:
%%html
<style>table {float: left; clear: right;}</style>

**Types**
| name | type | literal |
|------|------|---------|
| `int` | integer | `1` |
| `str` | string | `"1"`, `'1'` |
| `float` | floating point (real) | `1.` |
| `complex` | complex | `1j` (imaginary component) |
| `bool` | boolean | `True` |

**Structures**
| name | mutable | constructor |
|------|---------|-------------|
| `tuple` | no | `()` |
| `list` | yes | `[]`
| `dict` | yes | `{}` with key/value pairs |
| `set` | yes | `{}` with single values |